hbasehivemysql.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description>future of data princeton</description>
  <groupId>277b083b-0159-1000-729b-c3cad6b0e7ff</groupId>
  <name>hbasehivemysql</name>
  <snippet>
    <processGroups>
      <id>28fd1032-3e04-13e2-0000-000000000000</id>
      <parentGroupId>277b083b-0159-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments>Read MySQL Data to Hive, HBase, Phoenix, HDFS</comments>
      <contents>
        <connections>
          <id>a02b36f4-015a-1000-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>a02aafa7-015a-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>01591000-0c54-1581-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>a02b6509-015a-1000-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>28fd1035-3e04-13e2-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>merged</selectedRelationships>
          <source>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>a02aafa7-015a-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>a02b7b2f-015a-1000-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>28fd1034-3e04-13e2-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>28fd1035-3e04-13e2-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>01591005-0c54-1581-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>01591000-0c54-1581-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>28fd100c-3e5a-13e2-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>01591016-6550-1581-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>01591015-6550-1581-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>01591012-6550-1581-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>01591018-6550-1581-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>28fd100c-3e5a-13e2-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>hive</selectedRelationships>
          <source>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>0159100b-6550-1581-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>0159101a-6550-1581-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>0159100e-6550-1581-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>hdfs</selectedRelationships>
          <source>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>0159100b-6550-1581-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>01591022-6550-1581-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>01591021-6550-1581-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>0159100f-6550-1581-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>01591023-6550-1581-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>01591012-6550-1581-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>split</selectedRelationships>
          <source>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>01591021-6550-1581-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>01591027-6550-1581-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>01591026-6550-1581-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>matched</selectedRelationships>
          <source>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>01591015-6550-1581-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>01591028-6550-1581-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>0159100b-6550-1581-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>01591026-6550-1581-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>01591033-6550-1581-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>01591032-6550-1581-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>hbase</selectedRelationships>
          <source>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>0159100b-6550-1581-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>01591034-6550-1581-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>0159102f-6550-1581-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>01591032-6550-1581-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>16285b67-015b-1000-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>16285b65-015b-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>16285b66-015b-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>16291147-015b-1000-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>01591005-6550-1581-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>16285b65-015b-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>16292035-015b-1000-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>0159102f-6550-1581-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>16285b65-015b-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>162a033b-015b-1000-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>16285b66-015b-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>hbase</selectedRelationships>
          <source>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>0159100b-6550-1581-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>16375357-015b-1000-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>0159102f-6550-1581-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>01591005-6550-1581-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>1dad15dc-1228-1f7b-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>1dad15db-1228-1f7b-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>28fd1032-3e04-13e2-0000-000000000000</groupId>
            <id>0159100f-6550-1581-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <controllerServices>
          <id>01591011-6550-1581-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <comments></comments>
          <descriptors>
            <entry>
              <key>Database Connection URL</key>
              <value>
                <name>Database Connection URL</name>
              </value>
            </entry>
            <entry>
              <key>Database Driver Class Name</key>
              <value>
                <name>Database Driver Class Name</name>
              </value>
            </entry>
            <entry>
              <key>database-driver-locations</key>
              <value>
                <name>database-driver-locations</name>
              </value>
            </entry>
            <entry>
              <key>Database User</key>
              <value>
                <name>Database User</name>
              </value>
            </entry>
            <entry>
              <key>Password</key>
              <value>
                <name>Password</name>
              </value>
            </entry>
            <entry>
              <key>Max Wait Time</key>
              <value>
                <name>Max Wait Time</name>
              </value>
            </entry>
            <entry>
              <key>Max Total Connections</key>
              <value>
                <name>Max Total Connections</name>
              </value>
            </entry>
            <entry>
              <key>Validation-query</key>
              <value>
                <name>Validation-query</name>
              </value>
            </entry>
          </descriptors>
          <name>MySQL Connection Pool</name>
          <properties>
            <entry>
              <key>Database Connection URL</key>
              <value>jdbc:mysql://princeton10.field.hortonworks.com:3306/test</value>
            </entry>
            <entry>
              <key>Database Driver Class Name</key>
              <value>com.mysql.jdbc.Driver</value>
            </entry>
            <entry>
              <key>database-driver-locations</key>
              <value>/Volumes/Transcend/drivers/mysql-connector-java.jar</value>
            </entry>
            <entry>
              <key>Database User</key>
              <value>nifi</value>
            </entry>
            <entry>
              <key>Password</key>
            </entry>
            <entry>
              <key>Max Wait Time</key>
              <value>500 millis</value>
            </entry>
            <entry>
              <key>Max Total Connections</key>
              <value>3</value>
            </entry>
            <entry>
              <key>Validation-query</key>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <controllerServices>
          <id>0159101b-6550-1581-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <comments></comments>
          <descriptors>
            <entry>
              <key>Database Connection URL</key>
              <value>
                <name>Database Connection URL</name>
              </value>
            </entry>
            <entry>
              <key>Database Driver Class Name</key>
              <value>
                <name>Database Driver Class Name</name>
              </value>
            </entry>
            <entry>
              <key>database-driver-locations</key>
              <value>
                <name>database-driver-locations</name>
              </value>
            </entry>
            <entry>
              <key>Database User</key>
              <value>
                <name>Database User</name>
              </value>
            </entry>
            <entry>
              <key>Password</key>
              <value>
                <name>Password</name>
              </value>
            </entry>
            <entry>
              <key>Max Wait Time</key>
              <value>
                <name>Max Wait Time</name>
              </value>
            </entry>
            <entry>
              <key>Max Total Connections</key>
              <value>
                <name>Max Total Connections</name>
              </value>
            </entry>
            <entry>
              <key>Validation-query</key>
              <value>
                <name>Validation-query</name>
              </value>
            </entry>
          </descriptors>
          <name>Phoenix HBase Pool</name>
          <properties>
            <entry>
              <key>Database Connection URL</key>
              <value>jdbc:phoenix:princeton10.field.hortonworks.com:2181:/hbase-unsecure</value>
            </entry>
            <entry>
              <key>Database Driver Class Name</key>
              <value>org.apache.phoenix.jdbc.PhoenixDriver</value>
            </entry>
            <entry>
              <key>database-driver-locations</key>
              <value>file:///opt/demo/phoenix-client.jar</value>
            </entry>
            <entry>
              <key>Database User</key>
              <value>root</value>
            </entry>
            <entry>
              <key>Password</key>
            </entry>
            <entry>
              <key>Max Wait Time</key>
              <value>500 millis</value>
            </entry>
            <entry>
              <key>Max Total Connections</key>
              <value>16</value>
            </entry>
            <entry>
              <key>Validation-query</key>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <controllerServices>
          <id>01591037-6550-1581-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <comments></comments>
          <descriptors>
            <entry>
              <key>Hadoop Configuration Files</key>
              <value>
                <name>Hadoop Configuration Files</name>
              </value>
            </entry>
            <entry>
              <key>Kerberos Principal</key>
              <value>
                <name>Kerberos Principal</name>
              </value>
            </entry>
            <entry>
              <key>Kerberos Keytab</key>
              <value>
                <name>Kerberos Keytab</name>
              </value>
            </entry>
            <entry>
              <key>ZooKeeper Quorum</key>
              <value>
                <name>ZooKeeper Quorum</name>
              </value>
            </entry>
            <entry>
              <key>ZooKeeper Client Port</key>
              <value>
                <name>ZooKeeper Client Port</name>
              </value>
            </entry>
            <entry>
              <key>ZooKeeper ZNode Parent</key>
              <value>
                <name>ZooKeeper ZNode Parent</name>
              </value>
            </entry>
            <entry>
              <key>HBase Client Retries</key>
              <value>
                <name>HBase Client Retries</name>
              </value>
            </entry>
            <entry>
              <key>Phoenix Client JAR Location</key>
              <value>
                <name>Phoenix Client JAR Location</name>
              </value>
            </entry>
          </descriptors>
          <name>HBase_1_1_2_ClientService</name>
          <properties>
            <entry>
              <key>Hadoop Configuration Files</key>
              <value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hbase-site.xml</value>
            </entry>
            <entry>
              <key>Kerberos Principal</key>
            </entry>
            <entry>
              <key>Kerberos Keytab</key>
            </entry>
            <entry>
              <key>ZooKeeper Quorum</key>
              <value>princeton10.field.hortonworks.com</value>
            </entry>
            <entry>
              <key>ZooKeeper Client Port</key>
              <value>2181</value>
            </entry>
            <entry>
              <key>ZooKeeper ZNode Parent</key>
            </entry>
            <entry>
              <key>HBase Client Retries</key>
              <value>2</value>
            </entry>
            <entry>
              <key>Phoenix Client JAR Location</key>
              <value>/opt/demo/phoenix-client.jar</value>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>org.apache.nifi.hbase.HBase_1_1_2_ClientService</type>
        </controllerServices>
        <processors>
          <id>a02aafa7-015a-1000-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <position>
            <x>1286.3643644612387</x>
            <y>824.974398150538</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Merge Strategy</key>
                <value>
                  <name>Merge Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>
                  <name>Merge Format</name>
                </value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>
                  <name>Attribute Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
                <value>
                  <name>Correlation Attribute Name</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>
                  <name>Minimum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
                <value>
                  <name>Maximum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>
                  <name>Minimum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
                <value>
                  <name>Maximum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Max Bin Age</key>
                <value>
                  <name>Max Bin Age</name>
                </value>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>
                  <name>Maximum number of Bins</name>
                </value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>
                  <name>Delimiter Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Header File</key>
                <value>
                  <name>Header File</name>
                </value>
              </entry>
              <entry>
                <key>Footer File</key>
                <value>
                  <name>Footer File</name>
                </value>
              </entry>
              <entry>
                <key>Demarcator File</key>
                <value>
                  <name>Demarcator File</name>
                </value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>
                  <name>Compression Level</name>
                </value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>
                  <name>Keep Path</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Merge Strategy</key>
                <value>Bin-Packing Algorithm</value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>Avro</value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>Keep Only Common Attributes</value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
                <value>1000</value>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>0 B</value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
              </entry>
              <entry>
                <key>Max Bin Age</key>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>5</value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>Filename</value>
              </entry>
              <entry>
                <key>Header File</key>
              </entry>
              <entry>
                <key>Footer File</key>
              </entry>
              <entry>
                <key>Demarcator File</key>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>MergeContent</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>merged</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.MergeContent</type>
        </processors>
        <processors>
          <id>01591000-0c54-1581-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <position>
            <x>1906.7414563786472</x>
            <y>706.6469185581166</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Hadoop configuration files</key>
                <value>
                  <name>Hadoop configuration files</name>
                </value>
              </entry>
              <entry>
                <key>Record schema</key>
                <value>
                  <name>Record schema</name>
                </value>
              </entry>
              <entry>
                <key>kite-compression-type</key>
                <value>
                  <name>kite-compression-type</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Hadoop configuration files</key>
                <value>/etc/hive/conf/hive-site.xml</value>
              </entry>
              <entry>
                <key>Record schema</key>
                <value>${inferred.avro.schema}</value>
              </entry>
              <entry>
                <key>kite-compression-type</key>
                <value>SNAPPY</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ConvertJSONToAvro</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>incompatible</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.kite.ConvertJSONToAvro</type>
        </processors>
        <processors>
          <id>01591005-6550-1581-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <position>
            <x>2556.0613627555676</x>
            <y>1060.8529143734743</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>12</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>JDBC Connection Pool</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                  <name>JDBC Connection Pool</name>
                </value>
              </entry>
              <entry>
                <key>Support Fragmented Transactions</key>
                <value>
                  <name>Support Fragmented Transactions</name>
                </value>
              </entry>
              <entry>
                <key>Transaction Timeout</key>
                <value>
                  <name>Transaction Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>
                  <name>Batch Size</name>
                </value>
              </entry>
              <entry>
                <key>Obtain Generated Keys</key>
                <value>
                  <name>Obtain Generated Keys</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>JDBC Connection Pool</key>
                <value>0159101b-6550-1581-0000-000000000000</value>
              </entry>
              <entry>
                <key>Support Fragmented Transactions</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Transaction Timeout</key>
                <value>60 s</value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>100</value>
              </entry>
              <entry>
                <key>Obtain Generated Keys</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Insert Phoenix</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>retry</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.PutSQL</type>
        </processors>
        <processors>
          <id>0159100b-6550-1581-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <position>
            <x>2281.7351403520115</x>
            <y>79.41501865345435</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Routing Strategy</key>
                <value>
                  <name>Routing Strategy</name>
                </value>
              </entry>
              <entry>
                <key>hbase</key>
                <value>
                  <name>hbase</name>
                </value>
              </entry>
              <entry>
                <key>hdfs</key>
                <value>
                  <name>hdfs</name>
                </value>
              </entry>
              <entry>
                <key>hive</key>
                <value>
                  <name>hive</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Routing Strategy</key>
                <value>Route to Property name</value>
              </entry>
              <entry>
                <key>hbase</key>
                <value>${trialtype:equals('HB1')}</value>
              </entry>
              <entry>
                <key>hdfs</key>
                <value>${trialtype:equals('HB3')}</value>
              </entry>
              <entry>
                <key>hive</key>
                <value>${trialtype:equals('HB2')}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Route Location</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>hbase</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>hdfs</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>hive</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
          <id>0159100e-6550-1581-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <position>
            <x>3118.7798175808302</x>
            <y>405.86345098190054</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Hadoop Configuration Resources</key>
                <value>
                  <name>Hadoop Configuration Resources</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Principal</key>
                <value>
                  <name>Kerberos Principal</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Keytab</key>
                <value>
                  <name>Kerberos Keytab</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Relogin Period</key>
                <value>
                  <name>Kerberos Relogin Period</name>
                </value>
              </entry>
              <entry>
                <key>Additional Classpath Resources</key>
                <value>
                  <name>Additional Classpath Resources</name>
                </value>
              </entry>
              <entry>
                <key>Directory</key>
                <value>
                  <name>Directory</name>
                </value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>
                  <name>Conflict Resolution Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Block Size</key>
                <value>
                  <name>Block Size</name>
                </value>
              </entry>
              <entry>
                <key>IO Buffer Size</key>
                <value>
                  <name>IO Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Replication</key>
                <value>
                  <name>Replication</name>
                </value>
              </entry>
              <entry>
                <key>Permissions umask</key>
                <value>
                  <name>Permissions umask</name>
                </value>
              </entry>
              <entry>
                <key>Remote Owner</key>
                <value>
                  <name>Remote Owner</name>
                </value>
              </entry>
              <entry>
                <key>Remote Group</key>
                <value>
                  <name>Remote Group</name>
                </value>
              </entry>
              <entry>
                <key>Compression codec</key>
                <value>
                  <name>Compression codec</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Hadoop Configuration Resources</key>
                <value>/etc/hadoop/conf/core-site.xml</value>
              </entry>
              <entry>
                <key>Kerberos Principal</key>
              </entry>
              <entry>
                <key>Kerberos Keytab</key>
              </entry>
              <entry>
                <key>Kerberos Relogin Period</key>
                <value>4 hours</value>
              </entry>
              <entry>
                <key>Additional Classpath Resources</key>
              </entry>
              <entry>
                <key>Directory</key>
                <value>/raw</value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>replace</value>
              </entry>
              <entry>
                <key>Block Size</key>
              </entry>
              <entry>
                <key>IO Buffer Size</key>
              </entry>
              <entry>
                <key>Replication</key>
              </entry>
              <entry>
                <key>Permissions umask</key>
              </entry>
              <entry>
                <key>Remote Owner</key>
              </entry>
              <entry>
                <key>Remote Group</key>
              </entry>
              <entry>
                <key>Compression codec</key>
                <value>NONE</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PutHDFS</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
        </processors>
        <processors>
          <id>0159100f-6550-1581-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <position>
            <x>2279.9765562386256</x>
            <y>-1050.977319775272</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Database Connection Pooling Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                  <name>Database Connection Pooling Service</name>
                </value>
              </entry>
              <entry>
                <key>db-fetch-db-type</key>
                <value>
                  <name>db-fetch-db-type</name>
                </value>
              </entry>
              <entry>
                <key>Table Name</key>
                <value>
                  <name>Table Name</name>
                </value>
              </entry>
              <entry>
                <key>Columns to Return</key>
                <value>
                  <name>Columns to Return</name>
                </value>
              </entry>
              <entry>
                <key>Maximum-value Columns</key>
                <value>
                  <name>Maximum-value Columns</name>
                </value>
              </entry>
              <entry>
                <key>Max Wait Time</key>
                <value>
                  <name>Max Wait Time</name>
                </value>
              </entry>
              <entry>
                <key>Fetch Size</key>
                <value>
                  <name>Fetch Size</name>
                </value>
              </entry>
              <entry>
                <key>qdbt-max-rows</key>
                <value>
                  <name>qdbt-max-rows</name>
                </value>
              </entry>
              <entry>
                <key>dbf-normalize</key>
                <value>
                  <name>dbf-normalize</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Database Connection Pooling Service</key>
                <value>01591011-6550-1581-0000-000000000000</value>
              </entry>
              <entry>
                <key>db-fetch-db-type</key>
                <value>Generic</value>
              </entry>
              <entry>
                <key>Table Name</key>
                <value>trials</value>
              </entry>
              <entry>
                <key>Columns to Return</key>
              </entry>
              <entry>
                <key>Maximum-value Columns</key>
                <value>trialid</value>
              </entry>
              <entry>
                <key>Max Wait Time</key>
                <value>0 seconds</value>
              </entry>
              <entry>
                <key>Fetch Size</key>
                <value>0</value>
              </entry>
              <entry>
                <key>qdbt-max-rows</key>
                <value>0</value>
              </entry>
              <entry>
                <key>dbf-normalize</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>QueryDatabaseTable</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.QueryDatabaseTable</type>
        </processors>
        <processors>
          <id>01591012-6550-1581-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <position>
            <x>2304.292433355717</x>
            <y>-630.1843616242179</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>JSON container options</key>
                <value>
                  <name>JSON container options</name>
                </value>
              </entry>
              <entry>
                <key>Wrap Single Record</key>
                <value>
                  <name>Wrap Single Record</name>
                </value>
              </entry>
              <entry>
                <key>Avro schema</key>
                <value>
                  <name>Avro schema</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>JSON container options</key>
                <value>array</value>
              </entry>
              <entry>
                <key>Wrap Single Record</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Avro schema</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ConvertAvroToJSON</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
        </processors>
        <processors>
          <id>01591015-6550-1581-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <position>
            <x>2317.788595184621</x>
            <y>-389.9288231985345</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Destination</key>
                <value>
                  <name>Destination</name>
                </value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>
                  <name>Return Type</name>
                </value>
              </entry>
              <entry>
                <key>Path Not Found Behavior</key>
                <value>
                  <name>Path Not Found Behavior</name>
                </value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>
                  <name>Null Value Representation</name>
                </value>
              </entry>
              <entry>
                <key>trialdescription</key>
                <value>
                  <name>trialdescription</name>
                </value>
              </entry>
              <entry>
                <key>trialid</key>
                <value>
                  <name>trialid</name>
                </value>
              </entry>
              <entry>
                <key>trialtype</key>
                <value>
                  <name>trialtype</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Destination</key>
                <value>flowfile-attribute</value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>auto-detect</value>
              </entry>
              <entry>
                <key>Path Not Found Behavior</key>
                <value>ignore</value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>empty string</value>
              </entry>
              <entry>
                <key>trialdescription</key>
                <value>$.trialdescription</value>
              </entry>
              <entry>
                <key>trialid</key>
                <value>$.trialid</value>
              </entry>
              <entry>
                <key>trialtype</key>
                <value>$.trialtype</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Extract Fields</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>matched</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
          <id>01591021-6550-1581-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <position>
            <x>2296.5785598378407</x>
            <y>-835.124840130273</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Split Strategy</key>
                <value>
                  <name>Split Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Output Size</key>
                <value>
                  <name>Output Size</name>
                </value>
              </entry>
              <entry>
                <key>Output Strategy</key>
                <value>
                  <name>Output Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Transfer Metadata</key>
                <value>
                  <name>Transfer Metadata</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Split Strategy</key>
                <value>Record</value>
              </entry>
              <entry>
                <key>Output Size</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Output Strategy</key>
                <value>Datafile</value>
              </entry>
              <entry>
                <key>Transfer Metadata</key>
                <value>true</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>SplitAvro</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>split</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.avro.SplitAvro</type>
        </processors>
        <processors>
          <id>01591026-6550-1581-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <position>
            <x>2287.6643150367418</x>
            <y>-163.3273072112711</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>filename</key>
                <value>
                  <name>filename</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>filename</key>
                <value>${UUID()}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>UpdateAttribute</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>0159102f-6550-1581-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <position>
            <x>3452.214868023054</x>
            <y>1286.9934158255148</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>webhook-url</key>
                <value>
                  <name>webhook-url</name>
                </value>
              </entry>
              <entry>
                <key>webhook-text</key>
                <value>
                  <name>webhook-text</name>
                </value>
              </entry>
              <entry>
                <key>channel</key>
                <value>
                  <name>channel</name>
                </value>
              </entry>
              <entry>
                <key>username</key>
                <value>
                  <name>username</name>
                </value>
              </entry>
              <entry>
                <key>icon-url</key>
                <value>
                  <name>icon-url</name>
                </value>
              </entry>
              <entry>
                <key>icon-emoji</key>
                <value>
                  <name>icon-emoji</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>webhook-url</key>
              </entry>
              <entry>
                <key>webhook-text</key>
                <value>${'trialid'}</value>
              </entry>
              <entry>
                <key>channel</key>
              </entry>
              <entry>
                <key>username</key>
              </entry>
              <entry>
                <key>icon-url</key>
              </entry>
              <entry>
                <key>icon-emoji</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PutSlack</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.slack.PutSlack</type>
        </processors>
        <processors>
          <id>01591032-6550-1581-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <position>
            <x>2271.293047592812</x>
            <y>1297.0552446414465</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>HBase Client Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService>
                  <name>HBase Client Service</name>
                </value>
              </entry>
              <entry>
                <key>Table Name</key>
                <value>
                  <name>Table Name</name>
                </value>
              </entry>
              <entry>
                <key>Row Identifier</key>
                <value>
                  <name>Row Identifier</name>
                </value>
              </entry>
              <entry>
                <key>Row Identifier Encoding Strategy</key>
                <value>
                  <name>Row Identifier Encoding Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Column Family</key>
                <value>
                  <name>Column Family</name>
                </value>
              </entry>
              <entry>
                <key>Column Qualifier</key>
                <value>
                  <name>Column Qualifier</name>
                </value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>
                  <name>Batch Size</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>HBase Client Service</key>
                <value>01591037-6550-1581-0000-000000000000</value>
              </entry>
              <entry>
                <key>Table Name</key>
                <value>trials2</value>
              </entry>
              <entry>
                <key>Row Identifier</key>
                <value>${trialid}</value>
              </entry>
              <entry>
                <key>Row Identifier Encoding Strategy</key>
                <value>Binary</value>
              </entry>
              <entry>
                <key>Column Family</key>
                <value>trialdata</value>
              </entry>
              <entry>
                <key>Column Qualifier</key>
                <value>trial</value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>10</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PutHBaseCell</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.hbase.PutHBaseCell</type>
        </processors>
        <processors>
          <id>16285b65-015b-1000-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <position>
            <x>3051.7848847878477</x>
            <y>848.9218188296418</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Regular Expression</key>
                <value>
                  <name>Regular Expression</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>
                  <name>Replacement Value</name>
                </value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>
                  <name>Maximum Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>
                  <name>Replacement Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>
                  <name>Evaluation Mode</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Regular Expression</key>
                <value>(?s:^.*$)</value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>upsert into trials (trialid, trialdescription, fileName)  values (?,?,?)
</value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>Regex Replace</value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>Entire text</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Build SQL</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
          <id>16285b66-015b-1000-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <position>
            <x>2913.5148584999297</x>
            <y>608.8864069443009</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>sql.args.1.type</key>
                <value>
                  <name>sql.args.1.type</name>
                </value>
              </entry>
              <entry>
                <key>sql.args.1.value</key>
                <value>
                  <name>sql.args.1.value</name>
                </value>
              </entry>
              <entry>
                <key>sql.args.2.type</key>
                <value>
                  <name>sql.args.2.type</name>
                </value>
              </entry>
              <entry>
                <key>sql.args.2.value</key>
                <value>
                  <name>sql.args.2.value</name>
                </value>
              </entry>
              <entry>
                <key>sql.args.3.type</key>
                <value>
                  <name>sql.args.3.type</name>
                </value>
              </entry>
              <entry>
                <key>sql.args.3.value</key>
                <value>
                  <name>sql.args.3.value</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>sql.args.1.type</key>
                <value>-5</value>
              </entry>
              <entry>
                <key>sql.args.1.value</key>
                <value>${trialid:replaceEmpty('-999')}</value>
              </entry>
              <entry>
                <key>sql.args.2.type</key>
                <value>12</value>
              </entry>
              <entry>
                <key>sql.args.2.value</key>
                <value>${trialdescription:replaceEmpty('NA')}</value>
              </entry>
              <entry>
                <key>sql.args.3.type</key>
                <value>12</value>
              </entry>
              <entry>
                <key>sql.args.3.value</key>
                <value>${filename}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Add SQL Parameters</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>1dad15db-1228-1f7b-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <position>
            <x>1743.685368500761</x>
            <y>-757.741582946994</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Threshold Duration</key>
                <value>
                  <name>Threshold Duration</name>
                </value>
              </entry>
              <entry>
                <key>Continually Send Messages</key>
                <value>
                  <name>Continually Send Messages</name>
                </value>
              </entry>
              <entry>
                <key>Inactivity Message</key>
                <value>
                  <name>Inactivity Message</name>
                </value>
              </entry>
              <entry>
                <key>Activity Restored Message</key>
                <value>
                  <name>Activity Restored Message</name>
                </value>
              </entry>
              <entry>
                <key>Copy Attributes</key>
                <value>
                  <name>Copy Attributes</name>
                </value>
              </entry>
              <entry>
                <key>Monitoring Scope</key>
                <value>
                  <name>Monitoring Scope</name>
                </value>
              </entry>
              <entry>
                <key>Reporting Node</key>
                <value>
                  <name>Reporting Node</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Threshold Duration</key>
                <value>5 min</value>
              </entry>
              <entry>
                <key>Continually Send Messages</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Inactivity Message</key>
                <value>Lacking activity as of time: ${now():format('yyyy/MM/dd HH:mm:ss')}; flow has been inactive for ${inactivityDurationMillis:toNumber():divide(60000)} minutes</value>
              </entry>
              <entry>
                <key>Activity Restored Message</key>
                <value>Activity restored at time: ${now():format('yyyy/MM/dd HH:mm:ss')} after being inactive for ${inactivityDurationMillis:toNumber():divide(60000)} minutes</value>
              </entry>
              <entry>
                <key>Copy Attributes</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Monitoring Scope</key>
                <value>node</value>
              </entry>
              <entry>
                <key>Reporting Node</key>
                <value>all</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>MonitorActivity</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>activity.restored</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>inactive</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.MonitorActivity</type>
        </processors>
        <processors>
          <id>28fd100c-3e5a-13e2-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <position>
            <x>1953.8551558077002</x>
            <y>469.18236070495334</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Schema Output Destination</key>
                <value>
                  <name>Schema Output Destination</name>
                </value>
              </entry>
              <entry>
                <key>Input Content Type</key>
                <value>
                  <name>Input Content Type</name>
                </value>
              </entry>
              <entry>
                <key>CSV Header Definition</key>
                <value>
                  <name>CSV Header Definition</name>
                </value>
              </entry>
              <entry>
                <key>Get CSV Header Definition From Data</key>
                <value>
                  <name>Get CSV Header Definition From Data</name>
                </value>
              </entry>
              <entry>
                <key>CSV Header Line Skip Count</key>
                <value>
                  <name>CSV Header Line Skip Count</name>
                </value>
              </entry>
              <entry>
                <key>CSV delimiter</key>
                <value>
                  <name>CSV delimiter</name>
                </value>
              </entry>
              <entry>
                <key>CSV Escape String</key>
                <value>
                  <name>CSV Escape String</name>
                </value>
              </entry>
              <entry>
                <key>CSV Quote String</key>
                <value>
                  <name>CSV Quote String</name>
                </value>
              </entry>
              <entry>
                <key>Pretty Avro Output</key>
                <value>
                  <name>Pretty Avro Output</name>
                </value>
              </entry>
              <entry>
                <key>Avro Record Name</key>
                <value>
                  <name>Avro Record Name</name>
                </value>
              </entry>
              <entry>
                <key>Number Of Records To Analyze</key>
                <value>
                  <name>Number Of Records To Analyze</name>
                </value>
              </entry>
              <entry>
                <key>Charset</key>
                <value>
                  <name>Charset</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Schema Output Destination</key>
                <value>flowfile-attribute</value>
              </entry>
              <entry>
                <key>Input Content Type</key>
                <value>json</value>
              </entry>
              <entry>
                <key>CSV Header Definition</key>
              </entry>
              <entry>
                <key>Get CSV Header Definition From Data</key>
                <value>true</value>
              </entry>
              <entry>
                <key>CSV Header Line Skip Count</key>
                <value>0</value>
              </entry>
              <entry>
                <key>CSV delimiter</key>
                <value>,</value>
              </entry>
              <entry>
                <key>CSV Escape String</key>
                <value>\</value>
              </entry>
              <entry>
                <key>CSV Quote String</key>
                <value>'</value>
              </entry>
              <entry>
                <key>Pretty Avro Output</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Avro Record Name</key>
                <value>trials</value>
              </entry>
              <entry>
                <key>Number Of Records To Analyze</key>
                <value>15</value>
              </entry>
              <entry>
                <key>Charset</key>
                <value>UTF-8</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>InferAvroSchema</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unsupported content</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.kite.InferAvroSchema</type>
        </processors>
        <processors>
          <id>28fd1034-3e04-13e2-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <position>
            <x>679.7165851589552</x>
            <y>1121.0970020072912</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Hadoop Configuration Resources</key>
                <value>
                  <name>Hadoop Configuration Resources</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Principal</key>
                <value>
                  <name>Kerberos Principal</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Keytab</key>
                <value>
                  <name>Kerberos Keytab</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Relogin Period</key>
                <value>
                  <name>Kerberos Relogin Period</name>
                </value>
              </entry>
              <entry>
                <key>Additional Classpath Resources</key>
                <value>
                  <name>Additional Classpath Resources</name>
                </value>
              </entry>
              <entry>
                <key>Directory</key>
                <value>
                  <name>Directory</name>
                </value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>
                  <name>Conflict Resolution Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Block Size</key>
                <value>
                  <name>Block Size</name>
                </value>
              </entry>
              <entry>
                <key>IO Buffer Size</key>
                <value>
                  <name>IO Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Replication</key>
                <value>
                  <name>Replication</name>
                </value>
              </entry>
              <entry>
                <key>Permissions umask</key>
                <value>
                  <name>Permissions umask</name>
                </value>
              </entry>
              <entry>
                <key>Remote Owner</key>
                <value>
                  <name>Remote Owner</name>
                </value>
              </entry>
              <entry>
                <key>Remote Group</key>
                <value>
                  <name>Remote Group</name>
                </value>
              </entry>
              <entry>
                <key>Compression codec</key>
                <value>
                  <name>Compression codec</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Hadoop Configuration Resources</key>
                <value>/etc/hadoop/conf/core-site.xml</value>
              </entry>
              <entry>
                <key>Kerberos Principal</key>
              </entry>
              <entry>
                <key>Kerberos Keytab</key>
              </entry>
              <entry>
                <key>Kerberos Relogin Period</key>
                <value>4 hours</value>
              </entry>
              <entry>
                <key>Additional Classpath Resources</key>
              </entry>
              <entry>
                <key>Directory</key>
                <value>/hiveorc</value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>replace</value>
              </entry>
              <entry>
                <key>Block Size</key>
              </entry>
              <entry>
                <key>IO Buffer Size</key>
              </entry>
              <entry>
                <key>Replication</key>
              </entry>
              <entry>
                <key>Permissions umask</key>
              </entry>
              <entry>
                <key>Remote Owner</key>
              </entry>
              <entry>
                <key>Remote Group</key>
              </entry>
              <entry>
                <key>Compression codec</key>
                <value>NONE</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PutHDFS</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
        </processors>
        <processors>
          <id>28fd1035-3e04-13e2-0000-000000000000</id>
          <parentGroupId>28fd1032-3e04-13e2-0000-000000000000</parentGroupId>
          <position>
            <x>678.7126310477388</x>
            <y>836.734047910222</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>orc-config-resources</key>
                <value>
                  <name>orc-config-resources</name>
                </value>
              </entry>
              <entry>
                <key>orc-stripe-size</key>
                <value>
                  <name>orc-stripe-size</name>
                </value>
              </entry>
              <entry>
                <key>orc-buffer-size</key>
                <value>
                  <name>orc-buffer-size</name>
                </value>
              </entry>
              <entry>
                <key>orc-compression-type</key>
                <value>
                  <name>orc-compression-type</name>
                </value>
              </entry>
              <entry>
                <key>orc-hive-table-name</key>
                <value>
                  <name>orc-hive-table-name</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>orc-config-resources</key>
                <value>/etc/hive/conf/hive-site.xml</value>
              </entry>
              <entry>
                <key>orc-stripe-size</key>
                <value>64 MB</value>
              </entry>
              <entry>
                <key>orc-buffer-size</key>
                <value>10 KB</value>
              </entry>
              <entry>
                <key>orc-compression-type</key>
                <value>NONE</value>
              </entry>
              <entry>
                <key>orc-hive-table-name</key>
                <value>trials2</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ConvertAvroToORC</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.hive.ConvertAvroToORC</type>
        </processors>
      </contents>
      <name>RDBMS to Hive and HBase</name>
    </processGroups>
  </snippet>
  <timestamp>03/29/2017 16:37:43 EDT</timestamp>
</template>